body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-inverse{
  background-color: rgba(0,0,0,0);
  background-image:none;
  border-bottom: 0px;
}
.jumbotron{
  background-image: url(http://1.bp.blogspot.com/-TNoRyzyV11A/UtJtsSCXZMI/AAAAAAAAGdo/TEg2LT-KeEo/s1600/Wooden-background-texture-pattern-images-for-website-HD-template-PSD-free-download.jpg);
  min-height:600px;
  background-size: cover;
}
