doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cookie')
    link(rel='stylesheet', href='/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
script(src='/jquery/dist/jquery.min.js')
script(src='/angular/angular.js')
script(src='/angular-bootstrap/ui-bootstrap.min.js')
script(src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='/parallax.js/parallax.min.js')
script(src='/typed.js/dist/typed.min.js')
script(src='/javascripts/scripts.js')
